  <section class="module-small">
    <div class="container">
      <form action=/ method="get">
        <input id = @search  name= search placeholder= 'Type something here' class= 'form-control' />
      </form>
      <br>
      </br>
      <div class="row multi-columns-row">
        <% @products.each do |pr| %>
          <% if pr.primary_image.attached? %>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                  <div class="shop-item-image">
                      <%# <img src="assets/images/shop/product-9.jpg" alt="Men’s Garb"/> %>
                    <%= image_tag(pr.primary_image, height: '300px', width: '300px', class: 'mx-auto img-thumbnail') %>
                    <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                  </div>
              </div>
              <h3 class="shop-item-title font-alt" style="text-align: center;"><%= pr.title %></h3>
              <%= link_to 'View details', admins_product_path(pr), class: "btn btn-circle btn-d" ,style: "font-size: 10px; margin: 10px 70px; " %>
            </div>
            <% end %>
        <% end %>
          
        
      </div>
      <br>
      <%= paginate @products %>
      
      <div class="row mt-30">
        <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="/admins/products">See all products</a></div>
      </div>
    </div>
  </section>
</div>
      